{
  "printWidth": 150,
  "tabWidth": 2,
  "useTabs": false,
  "ignorePath": ".prettierignore",
  "jsxBracketSameLine": false,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ]
}
